.container{
 display: flex;
 flex-direction: column; 
 align-items: center;
}
table{
  background-color: #c4c4c4f1;
  border-radius: 5px;
}

button{
  border: none;
  padding:50px;
  width:10px;
  font-size:40px;
  color: #000;
  border-radius:5px;
  margin:5px;
}

#values{
  padding:40px;
  text-align: right;
  color: #fff;
  font-size:30px;
  background-color:grey;
  border-radius:5px;
}
.operButton{
  background-color:rgb(228, 225, 93);
}

